<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.Club_Gaa"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="21"/>
    <application android:label="Club GAA" android:icon="@drawable/gaa">
        <activity android:name="MyActivity"
                  android:label="Club GAA">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            </activity>
        <activity android:name=".Results"
                  android:label="Club GAA">
        </activity>
    </application>
</manifest>
